.order-filter label {
  font-weight: 700;
  font-size: 1rem;
  min-width: fit-content;
  margin-bottom: 0 !important;
}

.order-filter select {
  color: var(--gray) !important;
}

.filter-bar {
  background-color: var(--white);
  padding: 1.5rem 5rem;
  justify-content: flex-end;
}

.filter-bar img {
  height: 1.5rem;
}

.products-filter {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 4rem;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 1280px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .products-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .products-filter {
    grid-template-columns: none;
  }

  .products-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .products-list {
    grid-template-columns: 1fr;
  }
}

.filter {
  background-color: var(--white);
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.04);

  border-radius: 15px;
  height: fit-content;
}

.filter-collapse {
  background-color: var(--white);
}

.filter-checkbox {
  position: relative;

  user-select: none;
}

.filter-checkbox input {
  display: none;
}

.filter-checkbox input:checked + label {
  background-color: var(--green-primary);
  color: var(--white);
}

.filter-checkbox label {
  width: 100%;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;

  border-radius: 10px;
  background-color: var(--background-input);
  cursor: pointer;

  font-size: 1rem;
  font-weight: 500;

  transition: background-color .3s, color .3s;
}

.filter-checkbox .icon-checkbox {
  position: absolute;
  top: calc(50%);
  right: 0.3rem;
  transform: translateY(-50%);

  height: 2px;
  width: 8px;

  background-color: var(--black);
  transition: .2s;
}

.filter-checkbox .icon-checkbox::after {
  content: "";

  position: absolute;
  top: -3px;
  left: 3px;

  height: 8px;
  width: 2px;

  background-color: var(--black);
}

.filter-checkbox input:checked ~ .icon-checkbox {
  background-color: var(--white);
}

.filter-checkbox input:checked ~ .icon-checkbox::after {
  display: none;
}

.colors {
  display: grid;
  grid-template-columns: repeat(5, 2.5rem);
  gap: 1rem;
}

.color {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.color:nth-child(1) {
  background-color: #000000;
}

.color:nth-child(2) {
  background-color: #FFFFFF;
  border: 1px solid var(--gray);
}

.color:nth-child(3) {
  background-color: #E0E0E0;
}

.color:nth-child(4) {
  background-color: #EF476F;
}

.color:nth-child(5) {
  background-color: #118AB2;
}

.color:nth-child(6) {
  background-color: #06D6A0;
}

.color:nth-child(7) {
  background-color: #FFD166;
}

.color:nth-child(8) {
  background-color: #8338EC;
}

.color:nth-child(9) {
  background-color: #9C6644;
}

.link-pagination {
  border-radius: 50% !important;
  border: 1px solid var(-gray) !important;
  width: 2.5rem !important;
  height: 2.5rem !important;

  font-size: 1.25rem !important;
  line-height: 1.5rem !important;
  font-weight: 700 !important;
  text-align: center !important;

  background-color: transparent !important;
  color: var(--gray) !important;
}

.active-link-pagination {
  border-color: var(--green-primary) !important;
  background-color: var(--green-primary) !important;
  color: var(--white) !important;
}

.next-link-pagination {
  text-transform: uppercase !important;
  font-size: 1.25rem !important;
  font-weight: 700 !important;

  border-radius: 0 !important;
  border: none !important;
  color: var(--blue-dark);
  background-color: transparent !important;
}