.product-info {
    min-height: 100vh;
}

.product-title {
    font-size: 1.4rem;
}

.product-ref {
    font-weight: 600;
    font-size: .85rem;
    color: var(--gray);
}

.product-description {
    font-size: 1rem;
    color: var(--gray-dark);
}

.avaliation-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
}

.avaliation-metrics-stars-cardinal {
    font-weight: bold;
    font-size: 2rem;
}

.avaliation-metrics-comments-cardinal {
    color: var(--gray);
    font-weight: 500;
    font-size: .9rem;
}

.magnify-container {
    width: 35%;
}

.frete-info {
    color: var(--green-terciary);
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.frete-info-gray {
    color: var(--gray);
    font-size: 0.85rem;
}

.frete-info-bold {
    font-weight: bold;
    font-size: 1.2rem;
}

.frete-info-parcela {
    font-weight: 550;
    font-size: 0.9rem;
}