.order-filter label {
  font-weight: 700;
  font-size: 1rem;
  min-width: fit-content;
  margin-bottom: 0 !important;
}

.order-filter select {
  color: var(--gray) !important;
}

.filter-bar {
  background-color: var(--white);
  padding: 1.5rem 5rem;
  justify-content: flex-end;
}

.filter-bar img {
  height: 1.5rem;
}

.filter-collapse {
  border: none;
  background-color: transparent;
}

.products-filter {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 4rem;
}

.products-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 1280px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .products-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .products-filter {
    grid-template-columns: none;
  }

  .products-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .products-list {
    grid-template-columns: 1fr;
  }
}

.link-pagination {
  border-radius: 10px !important;
  border: 1px solid var(--gray) !important;
  min-width: 2.75rem !important;
  height: 2.75rem !important;

  font-size: 1rem !important;
  line-height: 1.75rem !important;
  font-weight: 700 !important;
  text-align: center !important;

  background-color: transparent !important;
  color: var(--gray) !important;
}

.active-link-pagination {
  border-color: var(--green-primary) !important;
  background-color: var(--green-primary) !important;
  color: var(--white) !important;
}

.next-link-pagination {
  text-transform: uppercase !important;
  font-size: 1rem !important;
  font-weight: 700 !important;

  border-radius: 0 !important;
  border: none !important;
  color: var(--blue-dark);
  background-color: transparent !important;
}

.next-link-pagination:hover {
  color: var(--blue-dark) !important;
}

.break-link-pagination {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: var(--gray-dark);
}