.button {
  border-radius: 10px;
  width: fit-content;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;

  transition: color .3s, background-color .3s;
}

.button:hover {
  text-decoration: none;
}

.button:disabled {
  cursor: not-allowed;
  background-color: #AEAEAE;
  color: #979797;
  border-color: #979797;
}

.button:disabled:hover {
  background-color: #AEAEAE;
  color: #979797;
}

.button-primary, .button-primary-outline {
  padding: 0.25rem 0.75rem;
  border: 3px solid var(--green-primary);
  font-size: 0.9rem;
}

.button-primary {
  color: var(--white);
  background-color: var(--green-primary);
}

.button-primary:hover {
  color: var(--green-primary);
  background-color: var(--white);
}

.button-primary-outline {
  color: var(--green-primary);
  background-color: var(--white);
}

.button-primary-outline:hover {
  color: var(--white);
  background-color: var(--green-primary);
}

.button-secondary, .button-secondary-outline {
  padding: 0.5rem 0.75rem;
  border: 3px solid var(--blue-dark);

  font-size: 0.5rem;
}

.button-secondary {
  color: var(--white);
  background-color: var(--blue-dark);
}

.button-secondary:hover {
  color: var(--blue-dark);
  background-color: var(--white);
}

.button-secondary-outline {
  color: var(--blue-dark);
  background-color: var(--white);
}

.button-secondary-outline:hover {
  color: var(--white);
  background-color: var(--blue-dark);
}

.button-gray, .button-gray-outline {
  padding: 0.5rem 0.75rem;
  border: 3px solid var(--gray);

  font-size: 0.9rem;
}

.button-gray {
  color: var(--white);
  background-color: var(--gray);
}

.button-gray:hover {
  color: var(--gray);
  background-color: var(--white);
}

.button-gray-outline {
  color: var(--gray);
  background-color: var(--white);
}

.button-gray-outline:hover {
  color: var(--white);
  background-color: var(--gray);
}