.product-cart-card {
  border-radius: 15px;
  width: 100%;
  height: max-content;

  display: flex;
  flex-direction: column;
  background: var(--white);
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.04);
}

.delete-product-cart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.delete-product-cart img {
  height: 1.5rem;
  cursor: pointer;
}

.info-product {
  width: 80%;
}

@media (max-width: 768px) {
  .info-product {
    width: 100%;
  }
}

.available-sizes {
  display: flex;
}

.size input {
  display: none;
}

.size label {
  margin-left: 0.5rem;
  margin-bottom: 0;
  border: 2px solid var(--gray);
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;

  color: var(--gray);
  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size input:checked + label {
  border: 2px solid var(--green-secondary);
  color: var(--green-secondary);
}

.size input:disabled + label {
  border: 2px solid #979797;
  background-color: #AEAEAE;
  color: #979797;
  cursor: not-allowed;
}

.size input:disabled + label::before {
  content: "X";
  position: absolute;
  top: -8px;
  right: -2px;
  color: #757575;
}

.product-color {
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  border: 2px solid var(--gray);
  margin-left: 0.5rem;
}

.qtd-button {
  border: 1px solid var(--gray);
  border-radius: 50%;
  padding: 0 0.4rem;
  margin: 0 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.qtd-product-info {
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 0 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  color: var(--gray);
}