.homepage {
  background-color: var(--background);
}

.home-section {
  width: 100%;
  padding: 3rem 5rem;
}

.icon-section {
  height: 1.5rem;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media (max-width: 1200px) {
  .products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .home-section {
    padding: 3rem;
  }
}

@media (max-width: 576px) {
  .products-list {
    grid-template-columns: 1fr;
  }
}