.carousel-dimensions {
  min-height: 80vh;
  width: 100%;
}

@media(max-width: 1024px)
{
  .carousel-dimensions {
    height: auto !important;
    min-height: 20vh !important;
  }
}

.carousel-item-indicator {
  width: 1rem !important;
  height: 1rem !important;

  border-radius: 50%;
  background-color: var(--gray) !important;
}

.carousel-item-indicator:not(.carousel-item-indicator:last-of-type) {
  margin-right: 0.5rem !important;
}

.blur {
  -webkit-filter: blur(2px);
}