.footer{
    width:100%;
    min-height:35vh;
    background: rgba(26, 37, 49, 1);
    color: white;
}

.background-white {
    background: rgba(251, 251, 251, 1);
}

.ul {
    list-style-type: none;
}

.li {
    text-decoration: none;
}

.smoothText {
    font-weight: 400 !important;
    font-size: 12px;
    color: rgba(251, 251, 251, 0.659);
}